<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <ngb-carousel>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/carousel/banner_1.jpg" alt="Random first slide" layout-fill>
            <div class="carousel-caption">
              <a type="button" class="btn btn-primary btn-rounded btn-fw" href="registro">Registrate Gratis!!</a>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/carousel/banner_2.jpg" alt="Random second slide" layout-fill>
            <div class="carousel-caption">
              <a type="button" class="btn btn-primary btn-rounded btn-fw" href="catalogo-p">Ver Catalogo</a>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100" src="assets/images/carousel/banner_3.jpg" alt="Random third slide" layout-fill>
            <div class="carousel-caption">
              <a type="button" class="btn btn-primary btn-rounded btn-fw" href="restaurantes">Ver Restaurantes</a>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>